.mylist{
    border: 1px solid;
    color:lightseagreen;
    border-radius: 6px;
    margin-top:18px;
    margin-left: 8px;
    margin-right: 8px;
    
}
.Accept{
    border: 1px solid;
    border-radius: 50%;
    height:30px;
    width:30px;
    color:white;
    margin-top:10px;
margin-left:140px;
}
.reject{
    border: 1px solid;
    border-radius: 50%;
    height:30px;
    width:30px;
    color:white;
    margin-top:10px;
margin-left:15px;
}

.a{
 font-weight: bold;
 color: rgb(121, 110, 110);
}
.b{
margin-left:80px;

font-weight: bold;
}
.mycard{
    margin-top:40px;
}
