.myitem{
   text-align: center;
    width:80px;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-left:5px;
    margin-right: 5px;
    margin-top:10px;
   font-weight: bold;
   color:white;
    background-color: rgb(161, 41, 161);
}
.name{
    font-size: medium;
    font-weight: bold;
    text-align: center;
    padding-left:20px

}
.myimage{
    width:70px;
    height:70px;
    border-radius: 50%;
}
