
//  img{
 
//    height:100px;
//    width:100px;
// padding-left:50px;


// }
.myitem{
   padding-left: 20px;
}
ion-icon{
   
    width:30px;
    height:30px;
}
.name{
    font-size: large;
    font-weight: bold;
    color:black;
}
.myimage{
   border-radius: 50%;
  height:100px;
  width:100px;
}
.service{
    font-weight: bold;
    color:lightseagreen;
}
.para{
color: grey;
font-weight: bold;
font-size: medium;
}
.mylabel{
    margin-top:20px;
}