.mylabel{
    font-size: large;
    font-weight: bold;
    padding-left: 20px;
    padding-top:15px;
}
ion-icon{
    width:32px;
    height:32px;
    font-weight: bold;
    color:lightseagreen;
}
.label{
    padding-left:6px;
    font-weight: bold;
    color:lightseagreen;
}