.name{
    font-size: large;
    font-weight: bold;
    color:black;
}
.myimage{
   border-radius:50%;
  height:100px;
  width:100px;
}
.service{
    font-weight: bold;
    color:#5c3f6e
}
.para{
color: grey;
font-weight: bold;
font-size: medium;
}
.segment-button-checked{
    background-color: #5c3f6e;
   color:white;
   border-radius: 30px;
   border:0.5px solid;
   height: 30px;
  min-height: 32px;
  margin-top:7px;
    
}
.mylabel{
    margin-top:20px;
}
