.mytitle{
   
}

.left{
    font-size: 7px;
    border: 1px solid;
    border-radius: 50%;
    height:30px;
    width:30px;
    color:white;
 margin-left:60px;
margin-top:10px;
margin-right:15px;
    background-color: lightseagreen;
}
.number{
    font-size: large;
    color:#5c3f6e;
    font-weight: bold;

 
}
.mydiv{
    margin-left:30px;
}
.right{
    border: 1px solid;
    border-radius: 50%;
    height:30px;
    width:30px;
    color:white;
    margin-top:10px;
margin-left:15px;
    background-color: lightseagreen;
}
.mybtn{
    margin-bottom: 15px;
    margin-left:140px;
}
.numdiv{
    padding-left:15px;
}
.pages{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    
}
.updiv{
    padding-top: 30px;
    padding-left:15px;
}