<ion-header>
  <ion-toolbar color="navbarColor">
    <ion-title>Translate Document</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

      <ion-item>      
        <ion-label class="name"> Document </ion-label>
        <ion-label class="nam"> {{document}}</ion-label>        
      </ion-item>

    <ion-item>
<ion-label class="price">Price per document</ion-label>
<ion-label class="pr">{{price}} BD</ion-label>
    </ion-item>
    <ion-item>
      <ion-textarea  rows="6" cols="20" [(ngModel)]="desc" placeholder="Document Description" autosize="true"></ion-textarea>
</ion-item>
  </ion-list>
  <ion-list>
      <div class="numdiv">    
        <ion-label class="pages">
         Number of pages
        </ion-label>
       
       <ion-icon (click)="add()"  class="left" name="remove-circle-outline"></ion-icon>
        <ion-label class="number">{{num}}</ion-label>     
          <ion-icon (click)="minus()" class="right" name="add-circle-outline"></ion-icon>                 
      </div>
   <ion-item *ngFor="let imge of images">
     {{imge}}
   </ion-item>
      <div class="updiv">
        <!-- <ion-button fill="outline" size="small" style="padding-left:20px" >select Documents</ion-button> -->
        <ion-button expand="full" shape="round" (click)="getfile()">Upload Documents</ion-button>
      </div>
    </ion-list>

</ion-content>
<ion-button expand="full" shape="round" (click)="submitbooking()">Submit</ion-button> 
<ion-footer>
 
    
        
  <div>
    <ion-label style="font-size: large;text-align: center;">Total Price </ion-label>
    <ion-label style="color:#5c3f6e;font-size: large;font-weight: bolder;text-align: center;"> {{ttoal}} BD</ion-label> 
  
  </div>    
 
</ion-footer>
