.myimg{
    height: 25vh;
    width: auto;
    margin: auto;
    margin-top:30px;
    display: block;
}
.btn{
    margin-top:30px;
}
.labell{
    margin-top:10px;
    text-align: center;
    font-size: large;
    font-weight: bold;
  }